<div>
  <!-- {{character | json}} -->
  <ul>
    <li>Name: {{character?.name}}</li>
    <li>Height: {{character?.height}}</li>
    <li>Weight: {{character?.mass}}</li>
    <li>Hair Color: {{character?.hair_color}}</li>
    <li>Skins Color: {{character?.skin_color}}</li>
    <li>Eye Color: {{character?.eye_color}}</li>
    <li>Birth Year: {{character?.birth_year}}</li>
    <li>Gender: {{character?.gender}}</li>
    <li>Home World: {{character?.homeworld}}</li>
    <li>Movies: {{character?.films.length}}</li>
    <li>Species: {{character?.species}}</li>
    <li>Vehicles: {{character?.vehicles}}</li>
    <li>Starships: {{character?.starships}}</li>
  </ul>
</div>
